artifactory-repo-index/repoindex/
artifactory-repo-index/scan_details.file
scan-results-report/logs/
scan-results-report/scanreport/
scan-results-report/artifacts/
scan-results-report/scan_result.log
